body {
    font-family: "Microsoft YaHei";
}

img {
    max-width: 100%;
}


input {
    font-family: "Microsoft YaHei";
    outline: none;
}

.common {
    -webkit-animation: animation1 1500ms ease-out;
    -o-animation: animation1 1500ms ease-out;
    animation: animation1 1500ms ease-out;
}
/*page2*/
.circle-box {
    width: 24%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12%;
    margin-top: -12%;
    animation: scare 2000ms linear;
}

@keyframes scare {
    0% {
        transform: scale(0,0);
    }

    33% {
        transform: scale(1,1);
    }

    66% {
        transform: scale(0.6,0.6);
    }

    100% {
        transform: scale(1,1);
    }
}

@-webkit-keyframes scare {
    0% {
        transform: scale(0,0);
    }

    33% {
        transform: scale(1,1);
    }

    66% {
        transform: scale(0.6,0.6);
    }

    100% {
        transform: scale(1,1);
    }
}

@-moz-keyframes scare {
    0% {
        transform: scale(0,0);
    }

    33% {
        transform: scale(1,1);
    }

    66% {
        transform: scale(0.6,0.6);
    }

    100% {
        transform: scale(1,1);
    }
}

@-o-keyframes scare {
    0%;

{
    transform: scale(0,0);
}

33% {
    transform: scale(1,1);
}

66% {
    transform: scale(0.6,0.6);
}

100% {
    transform: scale(1,1);
}

}

@-ms-keyframes scare {
    0% {
        transform: scale(0,0);
    }

    33% {
        transform: scale(1,1);
    }

    66% {
        transform: scale(0.6,0.6);
    }

    100% {
        transform: scale(1,1);
    }
}

.page2-box {
    width: 27%;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -13.5%;
    margin-top: -74px;
}

.page2-box, .page3-box, .page1-box img {
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

@-webkit-keyframes animation1 {
    0% {
        transform: translate(0,200px);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@-moz-keyframes animation1 {
    0% {
        transform: translate(0,200px);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

@-o-keyframes animation1 {
    0%;

{
    transform: translate(0,200px);
    opacity: 0;
}

100% {
    transform: translate(0,0);
    opacity: 1;
}

}

@-ms-keyframes animation1 {
    0% {
        transform: translate(0,200px);
        opacity: 0;
    }

    100% {
        transform: translate(0,0);
        opacity: 1;
    }
}

.lo-box {
    width: 180px;
    height: 40px;
    line-height: 42px;
    font-size: 0.875em;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    background: rgba(255,246,5,0.7);
    border-radius: 5px;
}

    .lo-box span {
        display: block;
        width: 100%;
        height: 42px;
        line-height: 42px;
        color: #02acfd;
        cursor: pointer;
    }

        .lo-box span:hover {
            color: #02acfd;
            background: url(../images/login_bg2.png) center no-repeat;
        }

.re-box {
    width: 180px;
    height: 40px;
    line-height: 42px;
    font-size: 0.875em;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    background: rgba(0,182,245,0.7);
    border-radius: 5px;
}

    .re-box span {
        display: block;
        width: 100%;
        height: 42px;
        line-height: 42px;
        color: #fff603;
        cursor: pointer;
    }

        .re-box span:hover {
            color: #fff603;
            background: url(../images/register_bg2.png) center no-repeat;
        }

.line-box {
    width: 18%;
    position: absolute;
    left: 63%;
    top: 15%;
}

.line1-box {
    width: 18%;
    position: absolute;
    left: 20%;
    top: 60%;
}
/*******page3*******/
.page3-box {
    width: 27%;
    position: absolute;
    left: 50%;
    top: 45%;
    margin-left: -5%;
}

.circle1-box {
    width: 12%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12%;
    margin-top: -12%;
}
/*******page1*******/
.circle2-box {
    width: 12%;
    position: absolute;
    left: 60%;
    top: 55%;
    margin-left: -12%;
    margin-top: -12%;
}

.page1-box {
    width: 27%;
    position: absolute;
    left: 35%;
    top: 45%;
    margin-left: -5%;
}

/*section-2*/
.img1-box {
    width: 21%;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -10%;
}

.simple-con {
    width: 1120px;
    height: 272px;
    position: absolute;
    top: 43.5%;
    left: 50%;
    margin-left: -560px;
}

    .simple-con ul li {
        width: 239px;
        height: 272px;
        background: url(../images/img2.png) center no-repeat;
        float: left;
        margin-right: 54px;
    }

        .simple-con ul li:nth-child(4) {
            margin-right: 0px;
        }

    .simple-con .simple-tit {
        width: 100%;
        text-align: center;
        font-size: 1.25em;
        padding-top: 63px;
    }

    .simple-con ul li em {
        display: block;
        width: 100%;
        text-align: center;
        color: #00b6f5;
        font-size: 0.75em;
        margin-bottom: 25px;
    }

    .simple-con ul li span {
        display: block;
        width: 100%;
        text-align: center;
        line-height: 30px;
        font-size: 0.85em;
    }
/*section-2*/
.img3-box {
    width: 1245px;
    height: 644px;
    position: absolute;
    position: relative;
    left: 50%;
    top: 20%;
    margin-left: -624px;
}

    .img3-box img {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }

.se-3-1 {
    position: absolute;
    left: 380px;
    top: 83px;
}

.se-3-2 {
    position: absolute;
    left: 870px;
    top: 250px;
}

.se-3-3 {
    position: absolute;
    left: 480px;
    top: 422px;
}

.se-3-tit {
    width: 100%;
    text-align: left;
    font-size: 1.25em;
    margin-bottom: 25px;
}

.se-3 em {
    width: 100%;
    text-align: left;
    color: #00b6f5;
    font-size: 0.75em;
}

.se-3 span {
    display: block;
    width: 100%;
    text-align: left;
    line-height: 25px;
    font-size: 0.85em;
}

.img4-box {
    position: absolute;
    position: relative;
    left: 50%;
    top: 20%;
    margin-left: -565px;
    width: 1131px;
    height: 510px;
}

    .img4-box img {
        display: block;
    }

.se-4-1 {
    position: absolute;
    left: 460px;
    top: 45px;
}

.se-4-2 {
    position: absolute;
    left: 190px;
    top: 145px;
}

.se-4-3 {
    position: absolute;
    left: 50px;
    top: 300px;
}

.se-4-4 {
    position: absolute;
    left: 305px;
    top: 430px;
}

.se-4-5 {
    position: absolute;
    left: 607px;
    top: 350px;
}

.se-4-6 {
    position: absolute;
    left: 930px;
    top: 452px;
}

/*section-5*/
.img5-box {
    width: 318px;
    height: 67px;
    position: absolute;
    left: 50%;
    top: 20%;
    margin-left: -159px;
}

.card-box {
    position: absolute;
    width: 1000px;
    height: 190px;
    left: 50%;
    top: 28%;
    margin-left: -500px;
    overflow: hidden;
    position: relative;
}

    .card-box ul {
        position: absolute;
        left: 0;
        top: 0;
        width: 1000px;
        height: 372px;
    }

        .card-box ul li div {
            width: 20%;
            text-align: center;
            float: left;
        }

        .card-box ul li {
            overflow: hidden;
            margin-top: 35px;
        }

.img6-box {
    width: 286px;
    height: 61px;
    position: absolute;
    left: 50%;
    top: 60%;
    margin-left: -143px;
}

.my-partainer-box {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -485px;
    width: 1000px;
    height: 77px;
    position: relative;
    overflow: hidden;
}

.wrapper {
    width: 1600px;
    position: absolute;
    left: 0;
    top: 0;
}

    .wrapper a {
        display: block;
        float: left;
        width: 200px;
        height: 77px;
    }

.img7-box {
    position: absolute;
    width: 256px;
    left: 50%;
    top: 20%;
    margin-left: -128px;
}

.img8-box {
    width: 1004px;
    height: 262px;
    background: url(../images/img8.png) center no-repeat;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -502px;
    cursor: pointer;
}

    .img8-box:hover {
        background: url(../images/img8-1.png) center no-repeat;
    }

.bottom-box {
    width: 100%;
    height: 280px;
    background: #f7f7f7;
    position: absolute;
    left: 0;
    bottom: 45px;
}

.bottom1-left {
    float: left;
    width: 35%;
    padding-right: 5%;
}

    .bottom1-left span {
        display: block;
        font-size: 0.75em;
        line-height: 30px;
    }

.bottom1-right {
    text-align: right;
    width: 60%;
    float: right;
}

.bottom1-box {
    width: 100%;
    height: auto;
    background: #f7f7f7;
}

.bottom {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-top: 40px;
}

.ewm-box {
    width: 128px;
    height: 158px;
    float: left;
}

.ewm {
    width: 128px;
    height: 128px;
    background: url(../images/ewm_bg.png) center no-repeat;
    text-align: center;
    margin-top: 12px;
}

    .ewm img {
        display: block;
        width: 115px;
        height: 115px;
        padding-left: 6px;
        padding-top: 6px;
    }

    .ewm span {
        display: block;
        font-size: 0.75em;
        line-height: 30px;
        color: #8d8e8e;
    }

.bottom-dh {
    width: 100%;
}

    .bottom-dh ul {
        width: auto;
        float: right;
        overflow: hidden;
    }

        .bottom-dh ul li {
            width: 90px;
            float: left;
            text-align: center;
            border-right: solid 1px #818282;
        }

            .bottom-dh ul li:nth-child(5) {
                border-right: none;
            }

            .bottom-dh ul li a {
                color: #000;
                font-size: 0.875em;
            }

    .bottom-dh span {
        margin-left: 53px;
        display: block;
        width: 454px;
        text-align: center;
        line-height: 30px;
        color: #8d8e8e;
        font-size: 0.75em;
    }

.gz-we {
    overflow: hidden;
    width: 100%;
}

.gz-we1 span {
    display: block;
    float: left;
    color: #8d8e8e;
    font-size: 0.75em;
    margin-top: 40px;
}

.gz-we1 div {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
}

.gz-we1 {
    float: left;
    padding-left: 50px;
}

.gz-we2 {
    padding-top: 20px;
    float: right;
}

    .gz-we2 span {
        display: block;
        font-size: 0.625em;
        text-align: right;
        line-height: 25px;
    }

.bottom-2 {
    width: 840px;
    overflow: hidden;
}

    .bottom-2 ul {
        margin-left: 100px;
    }

        .bottom-2 ul li {
            float: left;
            margin: 0 14px;
        }

            .bottom-2 ul li:nth-child(1) {
                margin-top: 26px;
            }

            .bottom-2 ul li:nth-child(2) {
                margin-top: 30px;
            }

            .bottom-2 ul li:nth-child(3) {
                margin-top: 30px;
            }

            .bottom-2 ul li:nth-child(4) {
                margin-top: 12px;
            }

.footer-box {
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
}

.footer1-box {
    width: 100%;
    height: 45px;
    background: #000;
}

.footer {
    width: 840px;
    line-height: 45px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 0.75em;
}

    .footer span {
        display: block;
        float: left;
    }

    .footer div {
        float: left;
        margin-left: 20px;
    }

/*login*/
.page2-box-1 {
    width: 292px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -146px;
    margin-top: -74px;
}

.lo-box-1 {
    width: 275px;
    height: 58px;
    line-height: 58px;
    font-size: 1em;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    background: url(../images/login_bg3.png) center no-repeat;
}

    .lo-box-1 span {
        display: block;
        width: 100%;
        height: 58px;
        line-height: 58px;
        color: #02acfd;
        cursor: pointer;
    }

.re-box-1 {
    width: 257px;
    height: 58px;
    line-height: 58px;
    font-size: 1em;
    font-weight: 700;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    background: url(../images/login_bg4.png) center no-repeat;
}

    .re-box-1 span {
        display: block;
        width: 100%;
        height: 58px;
        line-height: 58px;
        color: #fff603;
        cursor: pointer;
    }


#lore2 {
    width: 883px;
    height: 697px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -442px;
    margin-top: -349px;
    background: url("../images/login_bg.png") center no-repeat;
}

.lore2 {
    width: 536px;
    height: 467px;
    margin-left: 130px;
    margin-top: 120px;
}

.lore2-1 {
    width: 17px;
    height: 17px;
    margin-left: 370px;
}

.lore2-2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.25em;
    line-height: 50px;
}

.lore2-3 {
    width: 100%;
    margin-top: 30px;
    overflow: hidden;
}

.lore2-bt {
    float: left;
    width: 135px;
    text-align: right;
    line-height: 36px;
    color: #ffffff;
}

.lore2-tx {
    float: left;
    margin-left: 30px;
}


.input-lore {
    height: 30px;
    width: 250px;
    padding: 3px;
    border: none;
    border-radius: 3px;
    background: rgba(255,255,255,0.7);
    font-size: 1em;
}

.input-zym {
    width: 157px;
    float: left;
}

.lore2-4 {
    color: #ffffff;
    font-size: 0.85em;
    margin-left: 165px;
    overflow: hidden;
}

    .lore2-4 div {
        float: left;
        margin-top: 18px;
    }

        .lore2-4 div.forget-ms {
            margin-left: 80px;
        }

.lore2-5 {
    margin-top: 20px;
    margin-left: 150px;
}

.dl-bg {
    width: 247px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 1em;
    background: url("../images/dl_bg.png") center no-repeat;
}

.dl {
    background: none;
    border: none;
    font-size: 1em;
    width: 247px;
}
.dlfff {
    color:#fff;
}
.zc-bg {
    width: 247px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    font-size: 1em;
    color: #ffffff;
    background: url("../images/zc_bg.png") center no-repeat;
}

#lore3 {
    width: 1384px;
    height: 734px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -692px;
    margin-top: -367px;
    background: url("../images/re_bg.png") center no-repeat;
}


.lore3-1 {
    margin-top: 60px;
    margin-left: 200px;
    overflow: hidden;
}

.lore3-1-l {
    float: left;
}

.zc-tit {
    color: #ffffff;
    font-size: 1em;
    margin-left: 165px;
    margin-top: 20px;
}

.lore3-1-2 {
    float: left;
    margin-top: 90px;
    margin-left: 30px;
    font-size: 1em;
}

.lore3-2-1 {
    width: 260px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    background: url("../images/agree_bg.png") center no-repeat;
    margin-left: 476px;
    margin-top: 15px;
}

.lore3-2-2 {
    width: 260px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin-left: 476px;
    margin-top: 15px;
    color: #ffffff;
    font-size: 0.85em;
}

.lore3-0 {
    margin-left: 350px;
    margin-bottom: 100px;
    cursor: pointer;
}

/*平台介绍*/
.banner-box {
    width: 100%;
    height: 392px;
    background: url("../images/01.jpg") center no-repeat;
}

.banner1-con {
    width: 466px;
    height: 113px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

.platform-con {
    width: 100%;
    margin: 0 auto;
    height: auto;
    background: #ffffff;
}

.platform-con-tit {
    width: 544px;
    margin: 0 auto;
    overflow: hidden;
}

    .platform-con-tit div {
        width: 260px;
        height: 30px;
        line-height: 30px;
        border: solid 1px #00baff;
        float: left;
        font-style: 1em;
        margin: 20px 5px;
        text-align: center;
        color: #00baff;
        cursor: pointer;
    }

    .platform-con-tit .current {
        color: #ffffff;
        background: #00baff;
    }

.platform-con-txt {
    clear: both;
    padding-top: 20px;
    width: 1000px;
    margin: 0 auto;
}

    .platform-con-txt div {
        width: 90%;
        margin: 0 auto;
        font-size: 1em;
        padding-bottom: 20px;
    }

    .platform-con-txt span {
        display: block;
        margin: 15px 0;
        text-indent: 28px;
        line-height: 28px;
    }

.aqbj {
    width: 100%;
    height: 390px;
    background: rgba(0,153,223,0.5);
}

.aqbj-con {
    width: 1000px;
    margin: 0 auto;
    padding-top: 70px;
}

    .aqbj-con > span {
        display: block;
        color: #fff;
        margin-left: 50px;
        line-height: 28px;
    }

.dp-box {
    width: 140px;
    height: 44px;
    border: solid 1px #fff;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 20px;
}

    .dp-box span {
        width: 72px;
        margin-left: 22px;
        line-height: 44px;
        display: block;
        padding-right: 22px;
        background: url("../images/dp.png") right center no-repeat;
    }

.plat-icon {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 90px;
}

    .plat-icon div {
        width: 25%;
        height: 110px;
        float: left;
    }

        .plat-icon div:nth-child(1) {
            background: url("../images/plat_icon1.png") center no-repeat;
        }

        .plat-icon div:nth-child(2) {
            background: url("../images/plat_icon2.png") center no-repeat;
        }

        .plat-icon div:nth-child(3) {
            background: url("../images/plat_icon3.png") center no-repeat;
        }

        .plat-icon div:nth-child(4) {
            background: url("../images/plat_icon4.png") center no-repeat;
        }

    .plat-icon span {
        display: block;
        width: 25%;
        text-align: center;
        float: left;
    }

.palt-bg {
    background: url("../images/plat_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt2-bg {
    background: url("../images/plat2_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt3-bg {
    background: url("../images/plat3_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt4-bg {
    background: url("../images/plat4_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt5-bg {
    background: url("../images/plat5_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt6-bg {
    background: url("../images/plat6_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt7-bg {
    background: url("../images/plat7_bg.jpg") center no-repeat;
    background-attachment: fixed;
}

.palt8-bg {
    background: url("../images/plat8_bg.jpg") center no-repeat;
    background-attachment: fixed;
}
/*产品介绍*/
.banner2-box {
    width: 100%;
    height: 392px;
    background: url("../images/02.jpg") center no-repeat;
}

.banner2-con {
    width: 703px;
    height: 176px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

.platform2-con-tit {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

    .platform2-con-tit div {
        width: 190px;
        height: 30px;
        line-height: 30px;
        border: solid 1px #00baff;
        float: left;
        font-style: 1em;
        margin: 20px 3px;
        text-align: center;
        color: #00baff;
        cursor: pointer;
    }

    .platform2-con-tit .current2 {
        color: #ffffff;
        background: #00baff;
    }

.pro-t {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    margin-top: 70px;
    margin-bottom: 50px;
}

.pro-k {
    width: 200px;
    height: 44px;
    margin: 0 auto;
    line-height: 44px;
    text-align: center;
    border: solid 1px #ffffff;
    font-size: 1em;
    color: #ffffff;
}

.plat2-icon {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 90px;
}

    .plat2-icon ul li {
        width: 20%;
        height: 80px;
        float: left;
    }

        .plat2-icon ul li:nth-child(1) {
            background: url("../images/card1_1.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(2) {
            background: url("../images/card1_2.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(3) {
            background: url("../images/card1_3.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(4) {
            background: url("../images/card1_4.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(5) {
            background: url("../images/card1_5.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(6) {
            background: url("../images/card1_6.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(7) {
            background: url("../images/card1_7.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(8) {
            background: url("../images/card1_8.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(9) {
            background: url("../images/card1_9.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(10) {
            background: url("../images/card1_10.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(11) {
            background: url("../images/card1_11.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(12) {
            background: url("../images/card1_12.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(13) {
            background: url("../images/card1_13.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(14) {
            background: url("../images/card1_14.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(15) {
            background: url("../images/card1_15.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(16) {
            background: url("../images/card1_16.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(17) {
            background: url("../images/card1_17.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(18) {
            background: url("../images/card1_18.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(19) {
            background: url("../images/card1_19.jpg") center no-repeat;
        }

        .plat2-icon ul li:nth-child(20) {
            background: url("../images/card1_20.jpg") center no-repeat;
        }


.plat2-icon-1 div {
    width: 25%;
    height: 110px;
    float: left;
}

    .plat2-icon-1 div:nth-child(1) {
        background: url("../images/plat2_icon1.png") center no-repeat;
    }

    .plat2-icon-1 div:nth-child(2) {
        background: url("../images/plat2_icon2.png") center no-repeat;
    }

    .plat2-icon-1 div:nth-child(3) {
        background: url("../images/plat2_icon3.png") center no-repeat;
    }

    .plat2-icon-1 div:nth-child(4) {
        background: url("../images/plat2_icon4.png") center no-repeat;
    }

.plat2-icon-1 span {
    display: block;
    width: 25%;
    text-align: center;
    float: left;
}

.plat3-icon {
    width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    overflow: hidden;
    padding-bottom: 90px;
}

.card-all {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

    .card-all ul li {
        width: 23%;
        float: left;
        margin: 0 1%;
    }

        .card-all ul li div {
            width: 100%;
        }

            .card-all ul li div.price {
                overflow: hidden;
                background: #00baff;
                height: 75px;
            }

                .card-all ul li div.price span {
                    display: block;
                    width: 25%;
                    text-align: center;
                    line-height: 25px;
                    float: left;
                    color: #ffffff;
                }

            .card-all ul li div:nth-child(1) {
                margin-top: 30px;
            }

.card1 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_1.jpg") center no-repeat;
}

.card2 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_2.jpg") center no-repeat;
}

.card3 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_3.jpg") center no-repeat;
}

.card4 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_4.jpg") center no-repeat;
}

.card5 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_5.jpg") center no-repeat;
}

.card6 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_6.jpg") center no-repeat;
}

.card7 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_6.jpg") center no-repeat;
}

.card7 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_7.jpg") center no-repeat;
}

.card8 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_8.jpg") center no-repeat;
}

.card9 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_9.jpg") center no-repeat;
}

.card10 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_10.jpg") center no-repeat;
}

.card11 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_11.jpg") center no-repeat;
}

.card12 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_12.jpg") center no-repeat;
}

.card13 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_13.jpg") center no-repeat;
}

.card14 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_14.jpg") center no-repeat;
}

.card15 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_15.jpg") center no-repeat;
}

.card16 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_16.jpg") center no-repeat;
}

.card17 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_17.jpg") center no-repeat;
}

.card18 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_18.jpg") center no-repeat;
}

.card19 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_19.jpg") center no-repeat;
}

.card20 {
    width: 100%;
    height: 70px;
    background: url("../images/card1_20.jpg") center no-repeat;
}

.card-all ul li div.price1 {
    overflow: hidden;
}

    .card-all ul li div.price1 div:nth-child(1) {
        width: 111px;
        height: 24px;
        border-radius: 3px;
        background: #00b6f4;
        margin: 0 auto;
    }

    .card-all ul li div.price1 div:nth-child(2) {
        width: 111px;
        height: 24px;
        border-radius: 3px;
        background: #ffb748;
        margin: 10px auto;
    }

    .card-all ul li div.price1 span {
        display: block;
        width: 55px;
        height: 24px;
        line-height: 24px;
        padding-right: 10px;
        background: url("../images/sanjiao.png") right center no-repeat;
        font-size: 0.75em;
        color: #ffffff;
        margin-left: 30px;
    }

/*公告*/
.banner3-box {
    width: 100%;
    height: 392px;
    background: url("../images/03.jpg") center no-repeat;
}

.banner3-con {
    width: 703px;
    height: 176px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

/*公告 css样式*/
.pl-container-box {
    width: 100%;
    height: auto;
}

.pl-container-title {
    width: 1000px;
    margin: 0 auto;
    font-size: 14px;
    font-family: '微软雅黑';
    padding-top: 25px;
    overflow: hidden;
}

    .pl-container-title div {
        float: left;
        margin: 0 10px;
        cursor: pointer;
    }

    .pl-container-title span {
        display: block;
        float: left;
        margin: 0 10px;
    }

.pl-title-color {
    color: #15aadb;
}

.pl-container {
    width: 100%;
    height: auto;
}


.ann-1 {
    width: 1000px;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: solid 1px #15aadb;
}

    .ann-1 a {
        display: block;
        font-size: 1em;
        font-family: '微软雅黑';
        line-height: 32px;
        height: 32px;
        text-indent: 20px;
        cursor: pointer;
    }

.ann-contaier1 div, .ann-contaier2 div, .ann-contaier3 div, .ann-contaier4 div, .ann-contaier5 div {
    line-height: 24px;
    text-indent: 20px;
    font-size: 0.875em;
}

.ann-contaier1 span, .ann-contaier2 span, .ann-contaier3 span, .ann-contaier4 span, .ann-contaier5 span {
    display: block;
    line-height: 24px;
    width: 98%;
    text-align: right;
    padding-right: 2%;
    font-size: 0.875em;
}

.ann-contaier1, .ann-contaier2, .ann-contaier3, .ann-contaier4, .ann-contaier5 {
    width: 1000px;
    height: auto;
}

.ann-contaier1-text span, .ann-contaier2-text span, .ann-contaier3-text span, .ann-contaier4-text span, .ann-contaier5-text span {
    display: block;
    line-height: 24px;
    text-indent: 20px;
}

.line-through {
    text-decoration: line-through;
}

.ann-contaier1-text div, .ann-contaier2-text div, .ann-contaier3-text div, .ann-contaier4-text div, .ann-contaier5-text div {
    display: block;
    line-height: 24px;
    text-indent: 20px;
}

.back-up-1, .back-up-2, .back-up-3, .back-up-4, .back-up-5 {
    display: block;
    line-height: 24px;
    height: 24px;
    width: 98%;
    text-align: right;
    padding-right: 2%;
}

    .ann-1-title:hover, .back-up-1:hover, .ann-2-title:hover, .back-up-2:hover, .ann-3-title:hover, .back-up-3:hover, .ann-4-title:hover, .back-up-4:hover, .ann-5-title:hover, .back-up-5:hover {
        color: #15aadb;
    }

.ann-1-title, .ann-2-title, .ann-3-title, .ann-4-title, .ann-5-title {
    color: #15aadb;
}
/*页码*/
.ym-box {
    width: 1000px;
    heigth: auto;
    margin: 10px auto;
    overflow: hidden;
}

.ym-container {
    width: 710px;
    margin: 0 auto;
}

    .ym-container a, .ym-container span {
        display: block;
        float: left;
    }

    .ym-container a {
        padding: 6px 15px;
        line-height: 20px;
        text-align: center;
        border: solid 1px #f6f6f6;
        color: #000;
        font-size: 0.75em;
        margin: 0 5px;
    }

    .ym-container span {
        width: auto;
        height: 30px;
        border: solid 0px #f6f6f6;
        cursor: pointer;
        line-height: 30px;
        text-align: center;
        margin: 0 5px;
    }

.page-color {
    color: #15aadb;
}


/*行业解决方案*/
.banner4-box {
    width: 100%;
    height: 392px;
    background: url("../images/04.jpg") center no-repeat;
}

.banner4-con {
    width: 364px;
    height: 165px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}
/*行业解决方案*/
.platform3-con-tit {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

    .platform3-con-tit div {
        width: 190px;
        height: 30px;
        line-height: 30px;
        border: solid 1px #00baff;
        float: left;
        font-style: 1em;
        margin: 20px 3px;
        text-align: center;
        color: #00baff;
        cursor: pointer;
    }

    .platform3-con-tit .current3 {
        color: #ffffff;
        background: #00baff;
    }

.flink1 {
    width: 100%;
    height: 70px;
    background: url("../images/flink1.jpg") center no-repeat;
}

.flink2 {
    width: 100%;
    height: 70px;
    background: url("../images/flink2.jpg") center no-repeat;
}

.flink3 {
    width: 100%;
    height: 70px;
    background: url("../images/flink3.jpg") center no-repeat;
}

.flink4 {
    width: 100%;
    height: 70px;
    background: url("../images/flink4.jpg") center no-repeat;
}

.flink5 {
    width: 100%;
    height: 70px;
    background: url("../images/flink5.jpg") center no-repeat;
}

.flink6 {
    width: 100%;
    height: 70px;
    background: url("../images/flink6.jpg") center no-repeat;
}

.flink7 {
    width: 100%;
    height: 70px;
    background: url("../images/flink7.jpg") center no-repeat;
}

.flink8 {
    width: 100%;
    height: 70px;
    background: url("../images/flink8.jpg") center no-repeat;
}

.dong {
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

/*联系我们*/
.banner5-box {
    width: 100%;
    height: 392px;
    background: url("../images/05.jpg") center no-repeat;
}

.banner5-con {
    width: 364px;
    height: 165px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

.hellow-img img {
    display: block;
    width: 239px;
    height: 54px;
    margin: 0 auto;
}

.con-icon-box {
    width: 1000px;
    margin: 0 auto;
}

    .con-icon-box ul {
        width: 100%;
    }

        .con-icon-box ul li {
            width: 29%;
            margin: 0px 2%;
            float: left;
            height: auto;
        }

            .con-icon-box ul li .icon-05-1 {
                width: 100%;
                height: 100px;
                background: url("../images/05_icon1.png") center no-repeat;
            }

            .con-icon-box ul li .icon-05-2 {
                width: 100%;
                height: 100px;
                background: url("../images/05_icon2.png") center no-repeat;
            }

            .con-icon-box ul li .icon-05-3 {
                width: 100%;
                height: 100px;
                background: url("../images/05_icon3.png") center no-repeat;
            }

            .con-icon-box ul li span {
                display: block;
                width: 95%;
                margin: 0 auto;
                text-align: center;
            }

/*.map-sub {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    height: 400px;
    padding: 30px 0px;
}*/
.map-sub{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 500px;
}
.sub-box {
    width: 40%;
    margin: 0 5%;
    float: left;
}

label {
    cursor: default;
}

.common-input-content-md { /* div  label 和 input 容器*/
    /*width: 150px;*/
    width: 100%;
    height: 52px;
    margin-right: 2%;
    float: left;
    margin-top: 20px;
    /*border:1px solid red;*/
}

/*input content容器 样式*/
.label-input-title {
    display: block;
    position: relative;
    bottom: -22px;
    width: 100%;
    font-size: 0.9em;
    color: #ccc;
}

.label-title-input {
    display: block;
    position: relative;
    bottom: 0px;
    width: 100%;
    font-size: 0.9em;
    color: #000;
}

.common-input-line { /*input样式为 横线样式  不包括宽度 高度  配合自定义 宽度 高度*/
    /*width: 290px;
width:80%;*/
    width: 100%;
    height: 24px;
    line-height: 24px;
    border: none;
    border-bottom: 1px #ccc;
    border-bottom-style: solid;
    outline: none;
    color: #2e3a4b;
}

.sub-input {
    padding: 3px 10px;
    border: solid 1px #00b6f4;
    background: #ffffff;
    color: #00b6f4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*.map-box {
    width: 50%;
    float: left;
    height: 380px;
}*/

/*.co-map-box {
    width: 100%;
    float: left;
    height: 380px;
}*/
.co-map-box{
    width: 100%;
    float: left;
    height: 380px;
    padding-top: 80px;
    position: relative;
}
.dzmx{
    width: 100%;
    height: 70px;
    padding-top: 10px;
    background: #00b6f5;
    position: absolute;
    left:0;
    top: 0;
    border: solid 1px #00b6f5;
}
.dzmx span{
    display: block;
    text-indent: 30px;
    color: #ffffff;
    line-height: 30px;
}
#dituContent {
    width: 1198px;
    height: 382px;
    border: #ccc solid 1px;
}

.kefu-img img {
    display: block;
    width: 296px;
    height: 59px;
    margin: 0 auto;
}

.kf-box {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 30px;
}

.kf-k {
    width: 50%;
    float: left;
    line-height: 80px;
    color: #00b6f4;
    font-size: 1.2em;
}

    .kf-k span {
        font-size: 0.75em;
    }

.kf-box ul li {
    width: 23%;
    margin: 0px 1%;
    float: left;
}

    .kf-box ul li > span {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }

    .kf-box ul li > div {
        width: 100%;
        height: 50px;
        background: #00b6f4;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
    }

        .kf-box ul li > div span {
            display: block;
            width: 60px;
            height: 50px;
            line-height: 50px;
            padding-left: 40px;
            color: #ffffff;
            margin: 0 auto;
            background: url("../images/q_icon.png") left center no-repeat;
        }
/*加盟*/
.banner6-box {
    width: 100%;
    height: 392px;
    background: url("../images/06.jpg") center no-repeat;
}

.banner6-con {
    width: 364px;
    height: 165px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

.join-top {
    clear: both;
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
}

    .join-top .join-top-tit {
        display: block;
        width: 100%;
        font-size: 1.5em;
        color: #00baff;
        text-align: center;
        font-family: '宋体';
        padding-bottom: 30px;
    }

    .join-top .join-top-txt {
        display: block;
        width: 100%;
        font-size: 1em;
        text-align: center;
        line-height: 45px;
    }

    .join-top .join-top-txt1 {
        display: block;
        width: 90%;
        margin: 0 auto;
        font-size: 0.875em;
        line-height: 25px;
        text-indent: 28px;
    }

    .join-top ul.join-top-u {
        width: 100%;
        overflow: hidden;
        padding-top: 40px;
        padding-bottom: 60px;
    }

        .join-top ul.join-top-u li {
            width: 174px;
            height: 174px;
            background: #00baff;
            float: left;
            color: #ffffff;
            margin-right: 30px;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;
        }

            .join-top ul.join-top-u li:last-child {
                margin-right: 0px;
            }

            .join-top ul.join-top-u li div {
                padding-top: 20px;
                width: 100%;
                font-size: 1.2em;
                line-height: 55px;
                text-align: center;
            }

            .join-top ul.join-top-u li span {
                display: block;
                width: 80%;
                margin: 0 auto;
                font-size: 0.875em;
                line-height: 30px;
                text-align: center;
            }

.join-two {
    width: 1000px;
    margin: 0 auto;
}

    .join-two .join-two-tit {
        display: block;
        width: 100%;
        font-size: 1.5em;
        color: #ffffff;
        text-align: center;
        font-family: '宋体';
        padding-top: 64px;
    }

    .join-two .join-two-txt {
        display: block;
        width: 100%;
        font-size: 1em;
        text-align: center;
        line-height: 45px;
        color: #ffffff;
    }

    .join-two ul {
        width: 100%;
        overflow: hidden;
        padding-top: 20px;
    }

        .join-two ul li {
            width: 146px;
            height: 200px;
            float: left;
            margin: 0 52px;
            color: #ffffff;
        }

            .join-two ul li div {
                width: 143px;
                height: 44px;
                line-height: 44px;
                text-align: center;
                font-size: 1em;
                border: solid 1px #ffffff;
            }

            .join-two ul li span {
                display: block;
                width: 100%;
                text-align: center;
                line-height: 30px;
                padding-top: 25px;
            }

.apply-container {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
}

    .apply-container ul {
        width: 930px;
        margin: 0 auto;
        overflow: hidden;
        padding: 40px 0;
    }

        .apply-container ul li {
            width: 168px;
            height: 27px;
            border: solid 1px #00baff;
            float: left;
            margin: 0 8px;
            font-size: 0.875em;
            color: #00baff;
            line-height: 27px;
            text-align: center;
            cursor: pointer;
        }

.apply-title {
    background: #00baff;
    color: #ffffff!important;
}

.apply-contant {
    overflow: hidden;
    height: auto;
}

.apply-contant1 {
    overflow: hidden;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.apply-img1, .apply-text {
    float: left;
}

.apply-img1 {
    width: 447px;
    height: 236px;
    margin-left: 8px;
}

.apply-text span, .apply-text a {
    display: block;
}

.apply-text {
    width: 515px;
    margin-left: 30px;
}

    .apply-text div {
        color: #13aad9;
        font-size: 1em;
        line-height: 40px;
    }

    .apply-text span {
        line-height: 30px;
    }

    .apply-text a {
        color: #f15151;
        line-height: 30px;
    }

    .apply-text ul li {
        width: 31%;
        height: 27px;
        line-height: 27px;
        text-align: center;
        color: #ffffff;
        background: #00baff;
        float: left;
        margin: 10px 1%;
    }

.jmnow {
    width: 375px;
    height: 45px;
    background: #00baff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.5em;
    line-height: 45px;
    text-align: center;
    margin: 0px auto;
    color: #ffffff;
    font-family: '宋体';
    margin-bottom: 50px;
    cursor: pointer;
}

.six {
    width: 1000px;
    overflow: hidden;
    padding-bottom: 50px;
}

    .six li {
        width: 165px;
        height: 33px;
        line-height: 33px;
        text-align: center;
        float: left;
        background: #00baff;
        margin-right: 2px;
        font-size: 0.85em;
        color: #ffffff;
    }

        .six li:last-child {
            margin-right: 0px;
        }

.safe {
    width: 144px;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    border: solid 1px #ffffff;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
}

    .safe span {
        display: block;
        width: 73px;
        height: 44px;
        line-height: 44px;
        padding-right: 25px;
        color: #ffffff;
        background: url("../images/dp.png") right center no-repeat;
        margin: 0 auto;
    }


/*诚聘*/
.banner7-box {
    width: 100%;
    height: 392px;
    background: url("../images/07.jpg") center no-repeat;
}

.banner7-con {
    width: 569px;
    height: 203px;
    margin: 0 auto;
    padding-top: 80px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}

.app-box {
    width: 1000px;
    margin: 0 auto;
    padding: 30px 0px;
    height: 60px;
}

.app-line-ch {
    width: 30%;
    padding-left: 20%;
    float: left;
}

    .app-line-ch .app-line-tit span {
        color: #00baff;
        font-size: 1.2em;
    }

.app-line-txt {
    width: 100%;
}

    .app-line-txt span {
        width: 35%;
        line-height: 50px;
        text-align: center;
        display: block;
        float: left;
        color: #00baff;
    }

        .app-line-txt span a {
            color: #00baff;
        }

    .app-line-txt > span {
        position: relative;
    }
/*detail*/
.detail-box {
    position: absolute;
    left: 100px;
    top: -240px;
    width: 300px;
    height: auto;
    background: #ffffff;
    border: solid 1px #e6e5e5;
    box-shadow: 0px 0px 3px #e6e5e5;
    z-index: 10;
}

    .detail-box .detail-tit {
        width: 90%;
        margin: 0 auto;
        text-align: left;
        text-indent: 10px;
        line-height: 30px;
        border-bottom: solid 1px #00baff;
        padding-top: 25px;
    }

    .detail-box dl {
        width: 90%;
        margin: 0 auto;
    }

        .detail-box dl dt {
            color: #000;
            line-height: 30px;
            font-size: 0.75em;
            text-align: left;
        }

.o1-1, .o2-1, .o3-1, .o4-1, .o5-1, .o6-1, .o7-1, .o8-1, .o9-1, .o10-1, .o11-1, .o12-1, .o13-1, .o14-1, .o15-1, .o16-1 {
    display: none;
}

.o1:hover .o1-1, .o2:hover .o2-1, .o3:hover .o3-1, .o4:hover .o4-1, .o5:hover .o5-1, .o6:hover .o6-1, .o7:hover .o7-1, .o8:hover .o8-1, .o9:hover .o9-1, .o10:hover .o10-1, .o11:hover .o11-1, .o12:hover .o12-1, .o13:hover .o13-1, .o14:hover .o14-1, .o15:hover .o15-1, .o16:hover .o16-1 {
    display: block;
}

/*******隐私保护 免责声明*******/
.privacy-container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}

    .privacy-container span {
        display: block;
        width: 95%;
        margin: 0 auto;
        line-height: 30px;
        text-indent: 24px;
    }

    .privacy-container div {
        width: 95%;
        margin: 0 auto;
        line-height: 30px;
        color: #13aad9;
        text-indent: 24px;
        font-size: 14px;
        font-family: '微软雅黑';
        margin-top: 20px;
    }



/*公司资质*/
.banner8-box {
    width: 100%;
    height: 392px;
    background: url("../images/08.jpg") center no-repeat;
}

.banner8-con {
    width: 364px;
    height: 165px;
    margin: 0 auto;
    padding-top: 127px;
    -webkit-animation: animation1 1000ms ease-out;
    -o-animation: animation1 1000ms ease-out;
    animation: animation1 1000ms ease-out;
}




/*左侧 侧栏 css样式*/
.left-block-box {
    width: 216px;
    height: 184px;
    position: fixed;
    top: 60%;
    left: 0px;
    z-index: 500;
}

.left-block-left {
    width: 52px;
    height: 184px;
    float: left;
}

    .left-block-left div {
        background: #3cccfd;
    }

        .left-block-left div.other-bg {
            background: #02a9e3;
        }

.left-left-1 {
    width: 51px;
    height: 54px;
    border-left: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    cursor: pointer;
}

    .left-left-1 img {
        padding-top: 12px;
        padding-left: 8px;
    }

.left-left-2 {
    width: 51px;
    height: 54px;
    border-left: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    margin-top: 7px;
    cursor: pointer;
}

    .left-left-2 img {
        padding-top: 12px;
        padding-left: 15px;
    }

.left-left-3 {
    width: 51px;
    height: 60px;
    border-left: solid 1px #e9e9e9;
    border-bottom: solid 1px #e9e9e9;
    margin-top: 7px;
    cursor: pointer;
}

    .left-left-3 img {
        padding-top: 12px;
        padding-left: 3px;
    }

.left-block-right {
    width: 162px;
    height: 184px;
    float: left;
    border: solid 1px #ccc;
}

.sm-title {
    width: 164px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
}

.sm-text {
    width: 120px;
    height: 120px;
    padding: 12px 22px;
    background-color: #fff;
}

/*右侧 侧栏 css样式*/
.service_box {
    position: fixed;
    z-index: 1000;
    right: -147px;
    top: 40%;
    margin-top: -150px;
    width: 146px;
}

    .service_box .tab_nav {
        position: absolute;
        left: -42px;
        top: -1px;
    }

        .service_box .tab_nav > li:first-child {
            border-radius: 8px 0 0;
        }

        .service_box .tab_nav > li:last-child {
            border-bottom: none;
            border-radius: 0 0 0 0px;
        }

        .service_box .tab_nav > li > a {
            display: block;
            width: 28px;
            padding: 12px 0px 12px 8px;
            line-height: 14px;
            text-align: center;
            text-decoration: none;
        }

    .service_box .tab_content {
        padding: 20px 0px 10px;
        position: relative;
    }

.custom-box {
    width: 179px;
    height: 387px;
    position: fixed;
    top: 50%;
    right: -146px;
    z-index: 500;
}

.online-text {
    font-size: 14px;
    font-family: '微软雅黑';
    padding-top: 140px;
    float: left;
}

    .online-text a {
        color: #000000;
        font-family: '微软雅黑';
    }

    .online-text span {
        display: block;
        width: 22px;
        height: 106px;
        padding-left: 10px;
        padding-top: 30px;
        cursor: pointer;
        background-image: url(../images/qq_hide.png);
    }

.online-qq {
    width: 146px;
    height: 385px;
    background: #ffffff;
    float: left;
}

.online-qq-title {
    font-size: 1em;
    width: 100%;
    text-align: center;
    color: #1a3e7a;
    line-height: 30px;
}

.online-qq ul {
    background: #00baff;
    overflow: hidden;
}

    .online-qq ul li {
        width: 80px;
        height: 15px;
        line-height: 15px;
        padding-left: 45px;
        margin-top: 23px;
        padding-bottom: 9px;
        border-bottom: dashed 1px #ccc;
        background-image: url(../images/icon_qq.png);
        background-repeat: no-repeat;
        background-position: 10px top;
        font-size: 1em;
        ;
        font-family: '微软雅黑';
        color: #fe9001;
        cursor: pointer;
        margin-left: 10px;
        color: #ffffff;
    }

.online-line {
    width: 100%;
    line-height: 30px;
    text-align: center;
    font-size: 0.875em;
    font-family: '微软雅黑';
    color: #00baff;
}

.online-number {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #00baff;
}

.custom-box {
    width: 179px;
    height: 387px;
    position: fixed;
    top: 50%;
    right: -146px;
    z-index: 500;
}

.online-qq ul a {
    display: block;
    width: 100%;
    height: 38px;
    background: url("../images/kf_bg.png") center no-repeat;
}

/*弹窗*/
.jump-window {
    width: 488px;
    height: 410px;
    border: solid 5px rgba(198,198,198,0.7);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -249px;
    margin-top: -205px;
    z-index:99999;
    background:#fff;
    display:none;
}

.jump-window-in {
    width: 486px;
    height: 408px;
    border: solid 1px #afb0b2;
}

.jump-window-top {
    width: 100%;
    height: 44px;
    background: #f6f6f6;
    border-bottom: solid 1px #dcdcdc;
}

.jump-logo {
    width: 134px;
    height: 44px;
    background: url("../images/jump_little_logo.png") center no-repeat;
    padding-left: 12px;
    float: left;
}

.jump-x {
    padding-right: 20px;
    padding-top: 8px;
    padding-left: 15px;
    float: right;
}

.jump-line {
    float: right;
}

.jump-input-msg {
    width: 360px;
    height: auto;
    margin: 0 auto;
    padding-top: 45px;
}

.jump-input {
    height: 35px;
    border: solid 1px #d5d5d5;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding-left: 90px;
    width: 270px;
    font-family: "Microsoft YaHei";
}

.account, .password, .security-code {
    position: relative;
    margin-bottom: 10px;
}

    .account span {
        height: 35px;
        line-height: 35px;
        display: block;
        padding-left: 20px;
        position: absolute;
        left: 15px;
        top: 0;
        color: #989898;
        background: url("../images/jump_icon1.png") left center no-repeat;
    }

    .password span {
        height: 35px;
        line-height: 35px;
        display: block;
        padding-left: 20px;
        position: absolute;
        left: 15px;
        top: 0;
        color: #989898;
        background: url("../images/jump_icon2.png") left center no-repeat;
    }

    .security-code span {
        height: 35px;
        line-height: 35px;
        display: block;
        padding-left: 20px;
        position: absolute;
        left: 15px;
        top: 0;
        color: #989898;
        background: url("../images/jump_icon3.png") left center no-repeat;
    }

    .security-code .jump-input {
        width: 193px;
        padding-right: 77px;
    }

.security-code-auto {
    position: absolute;
    right: 10px;
    top: 6px;
    width: 65px;
    height: 21px;
    border: solid 1px #a52323;
}

.jump-login {
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #00b6f5;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.jump-registe {
    width: 90%;
    padding: 0 5%;
    text-align: right;
    margin-top: 33px;
}

    .jump-registe a {
        color: #989898;
    }

.sydl {
    border:none;
    font-size:1em;
}
/*QQ*/
.qq-succeed{
    width: 1000px;
    margin: 0 auto;
    padding: 10% 0;
}
.qq-succ1{
    width: 100%;
    text-align: center;
}
.qq-succ1 span{
    color: #00b6f5;
}
.qq-succ2{
    width: 560px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    margin-top: 50px;
}
.qq-succ2 span{
    display: block;
    float: left;
    margin: 0 10px;
}
.qq-succ2 div{
    float: left;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    color: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #02acfd;
}
.qq-succ2 div a{
    color: #ffffff;
}
/**找密码**/
.new-user{
    width: 1000px;
    margin: 0 auto;
    padding-top: 80px;
}
.user-name{
    width: 100%;
    border-bottom:solid 1px #e2e1e1;
    text-align: center;
    color: #00b6f5;
    padding-bottom: 20px;
    font-size: 16px;
}
.new-user ul{
    padding: 30px 0;
    margin: 20px;
}
.new-user ul li{
    width: 100%;
    overflow: hidden;
    margin: 40px 0;
}

.user-tit{
    width: 30%;
    height: 37px;
    line-height: 37px;
    float: left;
    text-align: right;
}

.user-input{
    width: 330px;
    padding: 0 15px;
    height: 39px;
    float: left;
}
.user-input .user-input-button{
    border: solid 1px #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 320px;
    height: 35px;
    line-height: 35px;
    padding: 0 4px;
}
.user-ts{
    color: #00b6f5;
    line-height: 37px;
}

.user-input-1{
    width: 247px;
}
.user-input-button1{
    width: 237px!important;
}
.user-input1{
    padding: 0;
    margin-left: 15px;
    background: #00b6f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 37px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}
.user-input2{
    padding: 0;
    margin-left: 15px;
    line-height: 37px;
    color: #000;
    text-align: center;
}
.user-input2 a{
    color: #000;
}
.user-input-mm{
    padding: 0;
    margin-left: 15px;
}
.user-input-mm span{
    display: block;
    width: 107px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #f7f7f7;
    margin: 0 1px;
    float: left;
    font-size: 12px;
    color: #cccccc;
}


.get-away{
    width: auto;
}
.get-away a{
    color: #000;
}
.get-away div{
    float: left;
    padding: 0 30px;
    line-height: 26px;
    height: 26px;
    margin-right: 5px;
    border: solid 1px #d2d2d2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.get-away .get-away-cu{
    border: solid 1px #00b6f5;
    background:url("../images/check_right.png") right bottom no-repeat;
}


