/*首页*/
.w_of{ overflow: hidden;}
.w_service{ padding-bottom: 20px;}
.w_service h5{ margin: 57px auto;}
.w_service h1{ margin-bottom: 57px;}
.w_service p{ line-height: 28px; margin-bottom: 90px;}
.w_service ul li{ width: 220px; margin-bottom:40px;}
.w_service ul li img{ width: 60px; height: 50px; margin-bottom: 30px;}
.w_service ul li span{ font-size: 20px; color: #333;}
.w_partner{ background: #f7f7f7; padding-bottom: 32px;}
.w_partner h5{ margin: 55px auto;}
.w_partner img{ width: 140px; height: 70px;margin: 0 25px 20px 0;}
/*产品介绍*/
.w_tabContent{ display: none;}
.w_tabContent.active{ display: block;}
.w_pro{ height: 562px; padding: 30px 0; background:url("../img/w_bg.png") no-repeat;
    background-size: 100% 622px;}
.w_fb{ color: #2289cc;}
.w_pro h1{ margin:80px 0 40px 0;}
.w_pro h1 span{ line-height: 40px; margin-top:30px;}
.w_pro  h4{ font-size: 26px; line-height: 40px;}
.w_pro ul{ margin-top: 80px;}
.w_pro ul li{ width: 163px;}
.w_big{ max-width: 100%;}
.w_pro ul li img{ width: 93px; height: 93px;}
.w_pro ul li h5,.w_pro ul li p,.w_fk ul li p,w_account li p,.xs_notice ul li p{font-family: "宋体";}
.w_pro ul li h5{ font-weight: bold;  font-size: 14px; margin: 28px 0 23px 0;}
.w_pro ul li p{ font-size: 12px; line-height: 20px; height: 40px; overflow: hidden;}
.w_tab{ background: #f3f3f3; height: 84px;}
.w_tab ul li{ float:left; width: 163px; height: 84px; line-height: 84px; text-align: center;
    color: #333; font-size: 16px; cursor: pointer;}
.w_tab ul li.active{ background: #2289cc; color: #fff;}
.w_img_box{ margin-top: 38px;}
.w_img_box img{ margin-bottom: 38px; max-width: 100%;}
.w_img_box p{font-size: 22px;color:#666; line-height:35px;}
.w_zhifu{ margin-top: 50px; margin-bottom: 50px;}
.w_zhifu img{ width: 180px; height: 69px; border: 1px solid #d1d1d1; margin-right:13px;}
.w_fk ul li{ width: 281px; text-align: center;}
.w_fk ul{ width: 843px; margin:20px auto;}
.w_fk ul li img{ width: 50px; height: 43px; margin-bottom: 18px;}
.w_fk ul li p{ width:150px; margin: 10px auto 0 100px; text-align: left; font-size: 12px;}
.w_account li{width:326px;}
.w_account li img{}
.w_account li h5{ margin: 33px 0 18px 0;}
.w_account li p{ line-height: 25px;}
.w_more{ background: #f2f6fb;}
.w_interface{ padding-bottom: 40px;}
.w_interface ul{ width: 660px; margin: 0 auto;}
.w_interface ul li{ width: 330px; margin-bottom: 20px;}
.w_interface ul li img{ width: 104px; height: 104px; margin-bottom: 30px;}
.xs_register{ background: #f2f6fb; height: 80px; line-height: 80px;}
.xs_register span{ margin-left: 90px;}
.xs_register a{ margin-right: 90px; width: 126px; height: 34px; margin-top: 25px;
    line-height: 34px;
    background: #2289cc; border-radius:50px;}
#menu.w_menu{display: none;position: fixed;top:0;right:0; width: 100%;  z-index: 9999;}
#menu ul{list-style: none; width: 800px;}
#menu ul li a{ float:left; width:auto; height: 50px;padding: 0 15px; font-size: 14px; line-height: 50px;text-align: center;background-color: #fff;color: #999;display: block}
#menu ul li a:hover,#menu ul li a.cur{color: #3d93d0;}
.w_menu{ height: 50px; line-height: 50px;}
.w_menu a.fr{ width: 90px; height: 30px; line-height: 30px; margin: 10px 0 0 0;
    background: #2289cc; color: #fff; border-radius:15px;}
/*新闻详情*/
.xs_title{ border-bottom: 1px solid #eaeaea; height:50px; line-height:50px;}
.xs_title span.w_xj{ margin: 0 5px;}
.w_details_c{ margin: 40px 0; line-height: 25px;}
.w_details_c h4{ margin: 15px 0;}
.w_details_c img{ display: block; max-width: 100%; margin:20px auto;}
/*新闻公告*/
.xs_notice ul{ margin-top: 45px;}
.xs_notice ul li{ margin-bottom: 20px; background: #f9f9f9; height: 142px; padding: 14px; width: 1070px; overflow: hidden; border: 1px solid #f9f9f9;}
.xs_notice ul li img{ width: 280px; height: 140px;}
.xs_notice ul li div{ width: 750px; margin-left: 20px; margin-top: 5px;}
.xs_notice ul li div h4{ line-height: 30px; margin-bottom: 10px;}
.xs_notice ul li p{ height: 50px; line-height: 25px; margin-bottom:15px; overflow: hidden;}
.xs_notice ul li:hover{ border:1px solid #3d93d0;}
.xs_notice ul li:hover div h4{ color: #3d93d0 !important;}
/*分页*/
.w_page{ width:760px; height:43px; overflow:auto; margin:80px auto 30px auto;}
.w_page a,.w_page input{ display:inline-block; width:50px; height:38px; background-color:#fff; border:1px solid #ddd; text-align:center; line-height:38px;
    box-sizing:border-box; color:#666; border-radius:3px; margin-right:7px;}
.w_page span{ line-height:38px;}
.w_page input{ padding:0 5px;}
.pages #Pagination .pagination .current{ background:#3d93d0; color:#FFF;border:none;}
.current.next,.current.prev{ background:#eee !important; color:#333 !important; width:84px !important;}
.next,.prev{width:84px !important;}
/*联系我们*/
.xs_common{ margin-top: 47px;}
.xs_common h4{ margin:0 0 47px 0; line-height: 30px;}
.xs_details{line-height: 30px;}
.xs_details img{ width: 535px; height: 355px;}
.xs_details div{ width: 540px; margin-left: 20px;}
.xs_honor div img{ width: 346px; height: 230px; margin-right:26px; margin-bottom: 20px;}
.xs_contact ul li{ width: 240px; padding-top:15px; padding-bottom:20px; padding-right: 10px; padding-left:28px; margin-bottom: 100px; border-right:1px solid #dddddd;}
.xs_contact ul li:nth-last-child(3),.xs_contact ul li:first-child{padding-left:0 !important;padding-right:18px !important;}
.xs_contact ul li:nth-last-child(4n+0),.xs_contact ul li:last-child{border-right:none !important;}
.xs_contact ul li h5{ margin-bottom: 35px;}
.xs_contact ul li span{ line-height:25px; margin-left:5px;}
.xs_contact ul li h5.w_mb20{ margin-bottom:20px}
.xs_contact ul li div img{ width: 78px;}
/*注册*/
.of{ overflow:hidden;}
.t_reg{ width:320px; padding:0 10px; margin:70px auto;}
.t_reg .t_input{ padding:0 15px;*padding:0; width:320px; height:40px; line-height:40px; border:1px solid #d7d7d7; box-sizing:border-box;}
.t_reg .t_input2{padding:0 15px; width:202px;*width:171px; height:40px; line-height:40px; border:1px solid #d7d7d7; box-sizing:border-box;}
.t_reg .t_btn{width:118px; height:40px; line-height:38px; background-color:#9e9e9e;}
.t_reg .t_input,.t_reg .t_input2{ margin-bottom:25px;}
.t_reg .t_choose{ margin-top:15px; margin-bottom:20px;}
.t_reg .t_btnBox{ width:320px; height:40px; background-color:#74bcf0;}
.t_reg .t_btnBox:hover{background-color:#3d93d0;}
.t_reg .t_text{ line-height:55px;}
.t_login_box .t_choose a{ display: inline-block; float:left; margin-left:10px;}
.t_login_box .t_choose input[type="checkbox"]{ display:none;}
.t_login_box .t_choose input[type="checkbox"]{ display:block\9; margin-top:3px\9;}
.t_login_box .t_choose input+label{ background-image:none\9 !important; }
.t_login_box .t_choose input+label{ display:inline-block; float:left;   width:16px; height:16px; background:url(../img/t_choose1.png) no-repeat; background-size:16px 16px;}
.t_login_box .t_choose input:checked+label{ display:inline-block; width:16px; height:16px; background:url(../img/t_choose.png) no-repeat; background-size:16px 16px;}
/*登录*/
.t_reg .of img{ width:116px; height:38px; border-right:1px solid #d7d7d7;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7; cursor:pointer;}
.t_reg .t_text .fr:hover{ color:#3d93d0;}