<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtimeSettings>
    <add key="Sitedomain" value="http://127.0.0.1"></add>
    <add key="CSSDomain" value=""/>
    <add key="SMSSN"  value=""></add>
    <add key="SMSKEY" value=""></add>
    <!--吉信通短信验证码接口-->
    <add key="JXTURL" value="http://service.winic.org/sys_port/gateway/"></add>
    <add key="SMUID" value="username"/>
    <add key="SMPWD"  value="userpwd"></add>
    <!--每日最多可以提现次数-->
    <add key="MaxDayToCashTimes" value="3"></add>

    <add key="ConnectString" value="RjX66DqfS5Pt+Vd9wfn8W6X0vAsCgAwEXfuoPAnKfB7wjSK7cWBKC+lmyh2sJZQhdH5I0LWJaYie9j0vad/QePCdCvWaquI7Dmc+LuXosU/QO5Q0Ox8HJ8FiqrcOP7QZiIfZoM/cym5nrc9yLPzPyTj0WAqv88j+ljQNN9gLxi8="></add>


<add key="ConnectString2" value="Data Source=118.178.192.235;Initial Catalog=devdb;Persist Security Info=True;User ID=devdb;Password=devdb;max pool size=1000"></add>
    <!--网站后台路径-->
    <add key="ADMIN_URI" value="/admin9876"/>

    <add key="WebDAL" value="OriginalStudio.SQLServerDAL"/>
    <add key="OrdersDAL" value="OriginalStudio.SQLServerDAL"/>
    <add key="ManagePagePath" value="admin9876"/>
    <!-- Order processing options (Asynch/Synch) -->
    <add key="OrderStrategyAssembly" value="OriginalStudio.BLL"/>
    <add key="OrderStrategyClass" value="OriginalStudio.BLL.OrderBankSynchronous"/>
    <add key="OrderCardStrategyAssembly" value="OriginalStudio.BLL"/>
    <add key="OrderCardStrategyClass" value="OriginalStudio.BLL.OrderCardSynchronous"/>
    <add key="OrderSmsStrategyAssembly" value="OriginalStudio.BLL"/>
    <add key="OrderSmsStrategyClass" value="OriginalStudio.BLL.OrderSmsSynchronous"/>
    <!--扣量安全间隔时间-->
    <add key="DeductSafetyTime" value="10"/>
    <!--默认扣率-->
    <add key="CPSDrate" value="0"></add>
    <add key="firstpage" value=""></add>
    <add key="UrlManagerConfigPath" value="/Configurations/urlmanagerconfiguration.config" />
    <add key="tocashsmsnotice" value="1"/>

    <!--销卡时间间隔(单位s)-->
    <add key="xiaoka_time_interval" value="1"/>
    <!--网站名称-->
    <add key="SiteUser" value="zft"/>	
  </runtimeSettings>
  <paymentSettings>
    <add key="alipay_body" value="alipayOrderform"></add>
    <add key="alipay_subject" value="alipayOrderform"></add>
    <add key="KuaiQian_prikey_path" value="C:\certificate\tester-rsa.pfx"/>
    <add key="KuaiQian_pubkey_path" value="C:\certificate\99bill.cert.rsa.20140728.cer"/>
    <add key="Smscoms" value="1819,8518,6817,5318,5248,3325,25607,1415,aa63,2933,a*21,5318,5248"/>
    <add key="mengsmsarrCom" value="106618627|280606|1,10668282|531606|2,10665110|Cxap06|5,10665110|a68206|5,106611198|811606|2,106610989|686206|2,10660058|a*10606|2,106667890|s*10606|2,16836112|101606|20"></add>
    <add key="yisheng_buyer_realname" value="KuaiCard"></add>
    <add key="Gopay_userType" value="1"></add>
  </paymentSettings>
  <TransactionSettings>
    <!--最小交易金额-->
    <add key="mintransactionamount" value="0.02"></add>
    <!--最大交易金额-->
    <add key="maxtransactionamount" value="100000"></add>
  </TransactionSettings>

  <MSMQ>
    <!--实现MSMQ对队的程序集-->
    <add key="OrderMessaging" value="OriginalStudio.MSMQMessaging"></add>
    <!--网银订单队列-->
    <add key="BankOrderPath" value=".\private$\bankorder"></add>
    <!--网银订单结果异步通知队列-->
    <add key="BankNotifyPath" value=".\private$\banknotify"></add>
    <!--卡类订单队列-->
    <add key="CardOrderPath" value=".\private$\cardorder"></add>
    <!--卡类订单结果异步通知队列-->
    <add key="CardNotifyPath" value=".\private$\cardnotify"></add>
    <!--短信订单队列-->
    <add key="SmsOrderPath" value=".\private$\smsorder"></add>
    <!--短信订单结果异步通知队列-->
    <add key="SmsNotifyPath" value=".\private$\smsnotify"></add>
    <!-- Batch Processing options -->
    <add key="ThreadCount" value="2" />
    <add key="BatchSize" value="10" />
    <add key="QueueTimeout" value="200" />
    <add key="TransactionTimeout" value="300" />
    <!-- Batch Processing options -->
    <add key="NotifyThreadCount" value="2" />
    <add key="NotifyBatchSize" value="10" />
    <add key="NotifyQueueTimeout" value="200" />
    <add key="NotifyTransactionTimeout" value="300" />
  </MSMQ>
  <logSettings>
    <add key="ExceptionLogEnabled" value="true" />
    <add key="ScheduledTaskLogEnabled" value="true" />
    <add key="SMSLogEnabled" value="true" />
	<!--接口调试开关-->
	<!--微信扫码(官方)-->
	<add key="99_IsLog" value="0" />
	<!--微信wap内置(官方)-->
	<add key="104_IsLog" value="0" />
 	<!--微信wap外置(转51支付)微信App-->
	<add key="512_IsLog" value="0" />
 	<!--微信PC(转51支付)-->
	<add key="511_IsLog" value="0" />
 	<!--支付宝(官方)-->
	<add key="101_IsLog" value="0" />
 	<!--支付宝PC(转51扫码)-->
	<add key="105_IsLog" value="0" />
 	<!--支付宝wap(转51wap)-->
	<add key="107_IsLog" value="0" />
 	<!--阳光万维-->
	<add key="800_IsLog" value="0" />
 	<!--网上有名-->
	<add key="700_IsLog" value="0" />
 	<!--汇云付-->
	<add key="15173_IsLog" value="0" />
 	<!--环讯支付-->
	<add key="600_IsLog" value="0" />
 	<!--51卡网银-->
	<add key="51_IsLog" value="0" />
 	<!--QQ钱包-->
	<add key="789_IsLog" value="0" />
 	<!--金控-->
	<add key="1004_IsLog" value="1" />		
	
	<add key="90_IsLog" value="1" />

	<add key="60850_IsLog" value="1" />	
	
 	<!--民生浦发-->	
	<add key="3100_IsLog" value="1" />	
	<add key="3101_IsLog" value="1" />	
	
	
 	<!--天下支付-->	
	<add key="3200_IsLog" value="1" />		
	
	<add key="103_IsLog" value="1" />		
	
	<add key="86_IsLog" value="1" />	
	
	<add key="1002_IsLog" value="1" />
  </logSettings>
</configuration>
